.newsletter{
  form{
    display: inline-block;
    width: 100%;

    input[type=email]{
      padding: 28px 44px;
      font-size: 16px;
      width: calc(100% - 194px);
      outline: none;
      border:none;
      background-color: $grey;
      color: $white;
      float: left;
    }
    input[type=submit]{
      width: 194px;
    }
  }
  p{
    font-size: 14px;
    color: $grey;
    text-align: right;
  }
}

@media (max-width : 767px){
  .newsletter{
    form{
      input[type=email]{
        padding: 21px 30px;
      }
    }
    p{
      text-align: center
    }
  }
}


.pageForm {
  display: inline-block;
  max-width: 560px;

  .newsletter{
      p{
          text-align: center;
          border-bottom: 1px solid $mediumgrey;
          padding-bottom: 26px;
          color: $black;
          font-size: 20px;
      }

      form{
          margin-top: 20px;

          input[type=submit] {
              width: initial;
              margin-left: 10px;
          }
      
          input[type="email"] {
              width: calc(100% - 148px);
              padding: 19px 28px;
              border: 1px solid #cccccc;
              background-color: #e8e8e8;
              color: $grey;
          }
      }
  }

}

.CTA-column{
  .newsletter{
    form{
      input[type="email"] {
        color: $grey;
      }
    }
  }
}

@media (max-width : 546px){
  .pageForm{
    .newsletter{
      p{
        font-size: 16px;
      }
      form{
        input[type="email"] {
          width: 100%;
        }
        input[type=submit] {
          margin-left: 0;
        }
      }
    }
  }
}


@media (max-width : 546px){
  .newsletter{
    form{
      display: inline-flex;
      flex-direction: column-reverse;

      input[type=email]{
        padding: 21px 30px;
        width: 100%;
        text-align: center;
      }
      input[type=submit]{
        width: 100%;
        max-width: initial;
      }
    }
  }
}