.teamMember {
    display: inline-flex;
    width: calc(100% / 4);
    margin: 20px 0 30px;
    float: left;
    text-align: center;
    flex-direction: column;
    justify-content: center;

    .photoContainer {
        display: inline-flex;
        width: 100%;
        background-color: $lightgrey;
        height: 300px;
        justify-content: center;
        align-items: flex-end;

        .photo{
            display: inline-block;
            width: 70%;
            background-color: red;
            height: 80%;
            /*background-image: ;*/
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat; 
        }
    }

    .description {
        margin: 24px 0;

        .memberName, .memberRole, .memberSchool {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
        }

        .memberRole{
            opacity: 0.7;
        }

        .memberSchool{
            opacity: 0.7;
            font-weight: 200;
        }
    }
}

@media (max-width : 1360px){
    .teamMember {
        width: calc(100% / 3);
        margin: 20px 0 30px;
    }
}

@media (max-width : 990px){
    .teamMember {
        width: calc(100% / 2);
        margin: 20px 0 30px;
    }
}

@media (max-width : 600px){
    .teamMember {
        width: 100%;
        margin: 20px 0 30px;
    }
}
